node_modules/
.pnpm-store/
.pnp.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini

*.swp
*.swo

.env
.env.*

cache/
.cache/
.eslintcache

coverage/
.nyc_output/

.vite/
dist/
build/
out/

*.tsbuildinfo